body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
}

.login-container form {
    display: inline-block;
    text-align: left; /* Align form content to the left */
    width: 300px;
}

.login-container form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-container form button {
    padding: 10px 20px;
    box-sizing: border-box;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
}


.profile-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-profile {
    padding: 10px;
}

.employee-profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.employee-profile p {
    margin: 5px 0;
}

@keyframes count-up {
    from {
        opacity: 0.4;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation: count-up 1s ease;
}

.count {
    font-size: 60px; /* Adjust the font size to your preference */
    color: #28a745; /* Green color (you can change this to any color you like) */
    font-weight: bold;
}
